.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    text-align: center;
    width: 60%;
  }

  &__section {
    width: 60%;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
